.button
    background-color #5065a1
    color #f7f7f7
    border none
    border-radius 3px
    padding 10px
    font-size 20px
    cursor pointer
    outline none
    user-select none
    font-family 'icons'

    &_play:before
        content '\e037'

    &_stop:before
        content '\e047'

    &_equalizer:before
        content '\e01d'

    &_open:before
        content '\e2c8'
