.radio
    display: inline-block
    padding 10px 30px
    background-color #5065a1
    color #f7f7f7
    cursor pointer
    border-radius 3px
    margin 0 10px

    &__box
        display none

    &_checked
        background-color #394c81
